@model IEnumerable<LTWebcuoiki.Models.CHITIETHOPDONGVAY>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SoHopDong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNguyenTe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SoHopDong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaNguyenTe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaNguyenTe }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaNguyenTe }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaNguyenTe }, new { onclick = "return confirm('Are you sure you want to delete this item?');" })
        </td>
    </tr>
}

</table>
